aniso8601==7.0.0
asgiref==3.7.2
colorama==0.4.6
Django==3.2.23
django-cors-headers==4.3.1
django-extensions==3.2.3
django-filter==23.3
django-graphql-jwt==0.4.0
django-translations==1.3.0
factory-boy==3.3.0
Faker==21.0.0
graphene==2.1.9
graphene-django==2.16.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
iniconfig==2.0.0
numpy==1.26.1
packaging==23.2
Pillow==10.3.0
pluggy==1.3.0
promise==2.3
psycopg2==2.9.9
PyJWT==2.8.0
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
Rx==1.6.3
singledispatch==4.1.0
six==1.16.0
sqlparse==0.5.0
text-unidecode==1.3
tzdata==2023.3