.form {
    width: 25%;
    margin: auto;
    margin-top: 0.5rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .input {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .button {
    padding: 8px 12px;
    background-color: #cb1313;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  
  .select {
    padding: 8px 12px;
    background-color: #cb1313;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 35%;
    margin-top: 0.2rem;
  }
  
  .textarea {
    resize: none;
    width: 100%;
  }
  