.container {
  max-width: 800px;
  margin: auto;
}

.faqItem {
  margin-bottom: 20px;
  border: 1px solid #C2C0C0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #EDE8E8;
}

.question {
  padding: 15px;
  cursor: pointer;
  background-color: #EDE8E8;
  border-bottom: 1px solid #C2C0C0;
}

.question h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.answer {
  padding: 15px;
  display: none;
}

.answer p {
  margin: 0;
  font-size: 16px;
}

.answer.open {
  display: block;
  background-color: #EDE8E8;
}
