.logoutButton {
  background-color: white;
  border: 1px solid #c2c0c0;
  color: inherit;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
  height: 100%;
}

.logoutButton {
  transition:
    background-color 0.3s,
    color 0.3s;
}

.logoutButton.active,
.logoutButton:hover {
  background-color: #cb1313;
  color: white;
}
