.container{
    padding-left: 200px;
  }
  
  .filters {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .label {
    font-weight: bold;
    margin-right: 8px;
  }
  
  .input,
  .select,
  .dateinput {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #C2C0C0;
    border-radius: 4px;
  }
  
  
  .button {
    padding: 8px 12px;
    background-color: #cb1313;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  