.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.profilePicture {
  max-width: 250px;
  height: auto;
  margin-bottom: 10px;
}

.viewMode table {
  border: 1px solid #ddd;
  margin: auto;
  max-width: 360px;
}

.viewMode th,
.viewMode tr,
.viewMode td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.editMode label {
  display: block;
  margin-bottom: 5px;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #cb1313;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #a70a0a;
}
